In [156]:
for i in range(1, 11):       # Outer loop: i goes from 1 to 5
    for j in range(1, 6):   # Inner loop: j also goes from 1 to 5
        print(i * j, end='\t')  # Multiply i and j, print with tab space (no newline)
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25
6	12	18	24	30
7	14	21	28	35
8	16	24	32	40
9	18	27	36	45
10	20	30	40	50

In [157]:
rows = 5
for i in range(1,rows+1):  # i goes from 1 to 5
    for j in range(i):        # j goes from 0 to i-1
        print("*", end=" ")   # Print a star, stay on the same line
    print()                   # After inner loop, go to new line

*
* *
* * *
* * * *
* * * * *

In [158]:
'''for i in range(1, 6):           # i goes from 1 to 5
    for j in range(1, i + 1):   # j goes from 1 to i
        print(j, end=" ")       # Print numbers 1 to i on the same line
    print()'''
for i in range(5,0,-1):           # i goes from 1 to 5
    for j in range(1,i+1):   # j goes from 1 to i
        print(j, end=" ")       # Print numbers 1 to i on the same line
    print()                     # Newline after each row

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [159]:
'''for i in range(5, 0,-1):              # Rows from 1 to 5
    for j in range(65, 65 + i):    # ASCII of 'A' is 65
        print(chr(j), end=" ")     # Convert number to character
    print()'''
for i in range(1,6):              # Rows from 1 to 5
    for j in range(65, 65 + i):    # ASCII of 'A' is 65
        print(chr(j), end=" ")     # Convert number to character
    print()

A
A B
A B C
A B C D
A B C D E

In [160]:
n=5
for i in range(1,11):
    print(f"{n} x {i} = {n*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [161]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [162]:
matrix = [[1, 2], [3, 4], [5, 6]]
flat = [num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6]